@charset "ISO-8859-1";
/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import
	url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700')
	;

@import
	url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
	;

@import
	url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
	;

/* ================================================================================
								/NAVBAR/	
================================================================================== */
nav {
	width: 100%;
	transition: all .5s ease-in-out;
	padding-top: 28px;
	padding-bottom: 28px;
	box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
	background-image: url(../images/noir_1.jpg);
	background-size: cover;
	grid-column-start: 1 !important;
	grid-column-end: 3 !important;
	grid-row: 1;
}

#liste-nav {
	padding: 30px;
	text-decoration: none;
	font-size: 20px;
	font-family: 'poppins', sans-serif;
	padding-left: 40%;
}

a {
	outline: none;
	text-decoration: none;
	padding: 2px 1px 0;
	color: white;
	background-color: #f3ec78;
	background-image: linear-gradient(90deg, rgba(241, 232, 114, 1) 5%,
		rgba(255, 255, 255, 1) 23%, rgba(255, 215, 0, 1) 100%);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

a :active {
	outline: white;
	text-decoration: underline !important;
	padding: 2px 1px 0;
	color: black;
}

/* ================================================================================
								/HEADER/	
================================================================================== */
#header {
	grid-column-start: 1 !important;
	grid-column-end: 4 !important;
	grid-row: 1;
}

#titre_annonce {
	display: inline;
	color: white;
	font-size: 30px;
}

.title {
	display: grid;
	grid-column: 2 !important;
	grid-row: 2 !important;
}

/* ================================================================================
								/BASE/	
================================================================================== */
body {
	font-size: 14px;
	font-family: 'poppins', sans-serif;
	line-height: 1.80857;
	font-weight: normal;
	background-image: url(../images/noir_1.jpg) !important;
	background-size: cover;
	font-size: 14px;
}

ul, li, ol {
	display: inline;
	list-style: none !important;
	text-decoration: none;
}

.content {
	padding: 40px 0px;
	margin-top: 90px;
}
/* ================================================================================
								/GRID/	
================================================================================== */
#content_grid {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 60% 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 10px;
	align-items: center;
}

#container_form {
	grid-column: 2 !important;
	grid-row: 4 !important;
}

.formulaire_depot {
	display: grid;
	grid-column: 2 !important;
	grid-row: 4 !important;
	background-color: white;
	border-radius: 16px;
}

#grid_form {
	display: grid;
	grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(1fr, 5);
	grid-gap: 10px;
	margin: 10px;
	align-items: center;
	padding: 10px;
	justify-items: center;
}

#grid_2 {
	grid-column-start: 1;
	grid-row-start: 3;
}

#grid_2_bis {
	grid-column-start: 1;
	grid-row-start: 4;
}

#grid_3 {
	grid-column-start: 2;
	grid-row-start: 1;
}

#grid_3_bis {
	grid-column-start: 2;
	grid-row-start: 2;
}

#grid_4 {
	grid-column-start: 3;
	grid-row-start: 1;
}

#grid_4_bis {
	grid-column-start: 3;
	grid-row-start: 2;
}

#grid_5 {
	grid-column-start: 3;
	grid-row-start: 3;
}

#grid_5_bis {
	grid-column-start: 3;
	grid-row-start: 4;
}

#grid_6 {
	grid-column-start: 4;
	grid-row-start: 3;
}

#grid_6_bis {
	grid-column-start: 4;
	grid-row-start: 4;
}

#grid_7 {
	grid-column-start: 4;
	grid-row-start: 1;
}

#grid_7_bis {
	grid-column-start: 4;
	grid-row-start: 2;
}

#grid_8 {
	grid-column-start: 5;
	grid-row-start: 1;
}

#grid_8_bis {
	grid-column-start: 5;
	grid-row-start: 2;
}

#grid_9 {
	grid-column-start: 5;
	grid-row-start: 3;
}

#grid_9_bis {
	grid-column-start: 5;
	grid-row-start: 4;
}

#grid_10 {
	grid-column-start: 2;
	grid-row-start: 3;
}

#grid_10_bis {
	grid-column-start: 2;
	grid-row-start: 4;
}

#grid_11 {
	grid-column-start: 6;
	grid-row-start: 1;
}

#grid_11_bis {
	grid-column-start: 6;
	grid-row-start: 2;
}

#grid_12 {
	grid-column-start: 5;
	grid-row-start: 3;
}

#grid_12_bis {
	grid-column-start: 5;
	grid-row-start: 4;
}

/*Input*/
input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 5px;
}

input[type=submit] {
	cursor: pointer;
	width: 30%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 5px;
	margin-left: 35%;
	color: black !important;
	background-color: white !important;
}

input[type=submit]:hover {
	color: white !important;
	background-color: black !important;
	width: 30%;
}
input[ type=button] {
	cursor: pointer;
	width: 30%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 5px;
	margin-left: 35%;
	color: black !important;
	background-color: white !important;
}
input[ type=button]:hover {
	color: white !important;
	background-color: black !important;
	width: 30%;
}

input[type=number] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 5px;
}

input[type=date] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 5px;
}

select {
	cursor: pointer !important;
	width: 250px;
	height: 50px;
	width: 250px;
	text-align: center;
}

select>option {
	cursor: pointer !important;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	color: black;
	background-color: white;
	border-radius: 15px;
	text-align: center;
}

#grid_img {
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-template-rows: repeat(1fr, 2);
	grid-gap: 10px;
	padding-left: 25%;
	padding-right: 25%;
}

#img_1 {
	grid-column-start: 1;
	grid-row-start: span 2;
	margin-left: auto;
	margin-right: auto;
}

#img_2 {
	grid-column-start: 2;
	grid-row-start: span 2;
	margin-left: auto;
	margin-right: auto;
}

#img_3 {
	grid-column-start: 3;
	grid-row-start: span 2;
	margin-left: auto;
	margin-right: auto;
}

#message {
	margin: 10px;
	justify-content: center;
	padding-left: 25%;
	padding-right: 25%;
}

#message_bis {
	margin: 10px;
	justify-content: center;
	border-radius: 5px;
	padding-bottom: 10px;
	padding-left: 25%;
	padding-right: 25%;
}

.label {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	font-style: normal;
	text-align: center;
}

@media ( max-width : 1050px) {
	#grid_form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(1fr, 12);
		grid-gap: 10px;
		margin: 10px;
		align-items: center;
		padding: 10px;
		justify-items: center;
	}
	#grid_3 {
		grid-column-start: 1;
		grid-row-start: 1;
	}
	#grid_3_bis {
		grid-column-start: 1;
		grid-row-start: 2;
	}
	#grid_4 {
		grid-column-start: 2;
		grid-row-start: 1;
	}
	#grid_4_bis {
		grid-column-start: 2;
		grid-row-start: 2;
	}
	#grid_5 {
		grid-column-start: 2;
		grid-row-start: 3;
	}
	#grid_5_bis {
		grid-column-start: 2;
		grid-row-start: 4;
	}
	#grid_6 {
		grid-column-start: 1;
		grid-row-start: 3;
	}
	#grid_6_bis {
		grid-column-start: 1;
		grid-row-start: 4;
	}
	#grid_7 {
		grid-column-start: 1;
		grid-row-start: 5;
	}
	#grid_7_bis {
		grid-column-start: 1;
		grid-row-start: 6;
	}
	#grid_8 {
		grid-column-start: 1;
		grid-row-start: 7;
	}
	#grid_8_bis {
		grid-column-start: 1;
		grid-row-start: 8;
	}
	#grid_9 {
		grid-column-start: 2;
		grid-row-start: 7;
	}
	#grid_9_bis {
		grid-column-start: 2;
		grid-row-start: 8;
	}
	#grid_10 {
		grid-column-start: 2;
		grid-row-start: 5;
	}
	#grid_10_bis {
		grid-column-start: 2;
		grid-row-start: 6;
	}
	#grid_11 {
		grid-column-start: 1;
		grid-column-end: span 2;
		grid-row-start: 9;
	}
	#grid_11_bis {
		grid-column-start: 1;
		grid-column-end: span 2;
		grid-row-start: 10;
	}
	select {
		cursor: pointer !important;
		width: 250px;
		height: 50px;
		width: 250px;
		text-align: center;
	}
	select>option {
		cursor: pointer !important;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 1.2em;
		color: black;
		background-color: white;
		border-radius: 15px;
		text-align: center;
	}
	#grid_img {
		display: grid;
		grid-template-columns: 200px;
		grid-template-rows: repeat(1fr, 2);
		grid-gap: 10px;
	}
	#img_1 {
		grid-column-start: 1;
		grid-row-start: 1;
		margin-left: auto;
		margin-right: auto;
	}
	#img_2 {
		grid-column-start: 2;
		grid-row-start: 1;
		margin-left: auto;
		margin-right: auto;
	}
	#img_3 {
		grid-column-start: 3;
		grid-row-start: 1;
		margin-left: auto;
		margin-right: auto;
	}
	#message {
		margin: 10px;
		justify-content: center;
		width: 200px;
	}
	#message_bis {
		margin: 10px;
		justify-content: center;
		border-radius: 5px;
		padding-bottom: 10px;
		width: 200px;
	}
}

@media screen and ( max-width : 500px) {
	#grid_form {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(1fr, 12);
		grid-gap: 10px;
		margin: 10px;
		align-items: center;
		padding: 10px;
		justify-items: center;
	}
	#grid_2 {
		grid-column-start: 1;
		grid-row-start: 1;
	}
	#grid_2_bis {
		grid-column-start: 1;
		grid-row-start: 2;
	}
	#grid_3 {
		grid-column-start: 1;
		grid-row-start: 3;
	}
	#grid_3_bis {
		grid-column-start: 1;
		grid-row-start: 4;
	}
	#grid_4 {
		grid-column-start: 1;
		grid-row-start: 5;
	}
	#grid_4_bis {
		grid-column-start: 1;
		grid-row-start: 6;
	}
	#grid_5 {
		grid-column-start: 1;
		grid-row-start: 7;
	}
	#grid_5_bis {
		grid-column-start: 1;
		grid-row-start: 8;
	}
	#grid_6 {
		grid-column-start: 1;
		grid-row-start: 9;
	}
	#grid_6_bis {
		grid-column-start: 1;
		grid-row-start: 10;
	}
	#grid_7 {
		grid-column-start: 1;
		grid-row-start: 11;
	}
	#grid_7_bis {
		grid-column-start: 1;
		grid-row-start: 12;
	}
	#grid_8 {
		grid-column-start: 1;
		grid-row-start: 13;
	}
	#grid_8_bis {
		grid-column-start: 1;
		grid-row-start: 14;
	}
	#grid_9 {
		grid-column-start: 1;
		grid-row-start: 15;
	}
	#grid_9_bis {
		grid-column-start: 1;
		grid-row-start: 16;
	}
	#grid_10 {
		grid-column-start: 1;
		grid-row-start: 17;
	}
	#grid_10_bis {
		grid-column-start: 1;
		grid-row-start: 18;
	}
	#grid_11 {
		grid-column-start: 1;
		grid-row-start: 19;
	}
	#grid_11_bis {
		grid-column-start: 1;
		grid-row-start: 20;
	}
	#grid_12 {
		grid-column-start: 1;
		grid-row-start: 21;
	}
	#grid_12_bis {
		grid-column-start: 1;
		grid-row-start: 22;
	}
	select {
		cursor: pointer !important;
		width: 250px;
		height: 50px;
		width: 250px;
		text-align: center;
	}
	select>option {
		cursor: pointer !important;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 1.2em;
		color: black;
		background-color: white;
		border-radius: 15px;
		text-align: center;
	}
	#grid_img {
		display: grid;
		grid-template-columns: 200px;
		grid-template-rows: repeat(1fr, 2);
		grid-gap: 10px;
		padding: 80px;
	}
	#img_1 {
		grid-column-start: 1;
		grid-row-start: 1;
		margin-left: auto;
		margin-right: auto;
	}
	#img_2 {
		grid-column-start: 1;
		grid-row-start: 2;
		margin-left: auto;
		margin-right: auto;
	}
	#img_3 {
		grid-column-start: 1;
		grid-row-start: 3;
		margin-left: auto;
		margin-right: auto;
	}
	#message {
		justify-content: center;
		width: 100px;
	}
	#message_bis {
		justify-content: center;
		border-radius: 5px;
		padding-bottom: 10px;
		width: 100px;
	}
}
/* ================================================================================
								/FOOTER/	
================================================================================== */
#footer {
	background-image: url(../images/noir_1.jpg) !important;
	box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
	padding-top: 90px;
	margin-top: 90px;
	background-size: cover;
	width: 100%;
}

.footer h2 {
	color: #000;
	font-size: 40px;
	font-weight: 500;
	padding-left: 223px;
	padding-bottom: 0px;
}

.textarea {
	font-family: poppins;
	border: #fff solid 2px;
	margin-bottom: 25px;
	padding: 15px 20px;
	width: 100%;
	padding-top: 40px;
}

.send {
	font-family: poppins;
	float: left;
	margin: 0 auto;
	display: block;
	background: #fff;
	color: #000;
	max-width: 165px;
	padding: 13px 0px;
	width: 100%;
	font-size: 18px;
}

.send:hover {
	background: #000;
	color: #fff;
}

ul.lik {
	padding: 20px;
	text-decoration: none;
	font-size: 20px;
	font-family: 'poppins', sans-serif;
	padding-left: 30%;
	text-align: center;
	margin-top: 10px;
}

ul.lik li {
	display: inline-block;
}

ul.lik li a {
	color: #292323;
	font-size: 17px;
	line-height: 27px;
	padding: 0px 25px;
	font-weight: 500;
}

ul.lik li a:hover {
	color: #fff;
}

ul.lik li.active a {
	color: #fff;
}

.copyright p {
	color: #000;
	text-align: center;
	padding: 25px 0px;
	font-size: 17px;
}

.copyright {
	background: #fff;
	margin-top: 90px;
}

.copyright a:hover {
	color: #d8b00f;
}

.new {
	text-align: center;
	margin-top: 40px;
}

.new h3 {
	color: #fff;
	font-size: 22px;
	font-weight: 500;
	display: inline-block;
	padding-right: 15px;
}

h3 {
	padding-left: 40%;
	color: white;
}

.newtt p {
	color: #fff;
	text-align: center;
	margin-top: 35px;
}

.newtetter {
	display: inline-block;
	padding-left: 40%;
}

.newtetter .tetter {
	padding: 9px 20px;
	border-radius: inherit;
	border: indianred
}
/* ================================================================================
								/PAGE-ANNONCE-MODIF/	
================================================================================== */
#annonce {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr ;
	grid-gap: 10px;
}

#titre_annonce_0 {
	color: white;
	grid-column-start: 2;
	grid-row-start: 1;
}

#titre_annonce {
	grid-column-start: 2;
	grid-row-start: 1;
	width: 250px;
}

#surface_annonce_0 {
	color: white;
	grid-column-start: 3;
	grid-row-start: 1;
}

#surface_annonce {
	grid-column-start: 3;
	grid-row-start: 1;
	width: 250px;
}

#comfimer_modif {
	width: 100%;
}
#conf{
	cursor: pointer;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 5px;
	margin-left: 35%;
}

#conf:hover {
	color: white;
	background-color: black;
	width: 100%;
}
